body{
    margin: 0;
}

.iconEdit:hover{
    opacity: .6;
}

.iconDel:hover{
    opacity: .6;
}

header {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    color: white;
  }